/* line 2, ../sass/style.scss */
h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* line 7, ../sass/style.scss */
ul.tabs {
  text-align: center;
}

/* line 13, ../sass/style.scss */
.start-page {
  height: 500px;
  text-align: center;
  font-size: 18px;
  margin-top: 90px;
}
/* line 19, ../sass/style.scss */
.start-page .introduction p {
  color: #666677;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 24, ../sass/style.scss */
.start-page p.start-text {
  margin-top: 10px;
}

/* line 29, ../sass/style.scss */
.trainer-box {
  margin-top: 90px;
}

/* line 38, ../sass/style.scss */
.answer-choices {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 41, ../sass/style.scss */
.answer-choices button {
  position: relative;
}
/* line 43, ../sass/style.scss */
.answer-choices button .icon-wrapper {
  margin: 0;
  left: 50%;
  bottom: -5px;
  position: absolute;
}
/* line 49, ../sass/style.scss */
.answer-choices button .icon-remove, .answer-choices button .icon-ok {
  margin: 0;
  position: relative;
  top: -7px;
  left: -7px;
  display: none;
}
/* line 55, ../sass/style.scss */
.answer-choices button .icon-remove.show, .answer-choices button .icon-ok.show {
  display: block;
}

/* line 62, ../sass/style.scss */
.answer-info {
  margin: 15px 0;
}
/* line 64, ../sass/style.scss */
.answer-info .icon-remove, .answer-info .icon-ok {
  top: 2px;
  position: relative;
  left: 7px;
}
/* line 70, ../sass/style.scss */
.answer-info p {
  display: none;
}
/* line 72, ../sass/style.scss */
.answer-info p.show {
  display: block;
}

/* line 79, ../sass/style.scss */
#audio-box-19875876 {
  display: none;
}
