
h1 {
  text-align: center;
  margin-bottom: 30px;
}

ul.tabs {
  text-align: center;
}

$mainPageTopPadding: 90px;
$contentFontSize: 18px;

.tab-pane {
  font-size: $contentFontSize;
}

.start-page {
  text-align: center;
  margin-top: $mainPageTopPadding;

  .introduction p {
    color: #666677;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.start-text {
    margin-top: 10px;
  }
}

.trainer-box {
  margin-top: $mainPageTopPadding;
}

.stats-box {
  margin-top: $mainPageTopPadding;
  text-align: center;
  .correct {
    color: #34d654;
  }
  .wrong {
    color: #d6348f;
  }
}

// Pitch Trainer App

$paddingA: 15px;


.answer-choices {
  margin-top: $paddingA;
  margin-bottom: $paddingA;
  button {
    position: relative;
    .icon-wrapper {
      margin: 0;
      left: 50%;
      bottom: -5px;
      position: absolute;
    }
    .icon-remove, .icon-ok {
      margin: 0;
      position: relative;
      top: -7px;
      left: -7px;
      display: none;
      &.show {
        display: block;
      }
    }
  }
}

.answer-info {
  margin: $paddingA 0;
  .icon-remove, .icon-ok {
    top: 2px;
    position: relative;
    left: 7px;
  }

  p {
    display: none;
    &.show {
      display: block;
    }
  }
}


#audio-box-19875876 {
  display: none;
}